.Store-Widget {
	max-width: 435px;
	width: 100%;

	img {
		max-width: 161px;
		max-height: 230px;
		width: auto;
		height: auto;
	}

	.widget-content {
		padding: 1em;
		clear: right;
		min-width: 100%;
	}
}