	<div class="row row-full">
		<!-- LARGE SCREENS MARK UP -->
		<nav>
			<ul class="columns large-8 show-for-large-only">
				<li><a href="#">Categories</a></li>
				<li><a href="#">Designers</a></li>
				<li><a href="#">Clothing</a></li>
				<li><a href="#">Footwear</a></li>
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Art</a></li>
				<li><a href="#">Lifestyle</a></li>
			</ul>
		</nav>

		<nav class="columns large-3 pull-right show-for-large-only">
			<ul class="icon-btns nav-icons">
				<li><a id="pro-avatar" class="fa fa-user"></a></li>
				<li><a id="nav-add" class="fa fa-plus"></a></li>
				<li><a id="nav-note" class="fa fa-bell-o"></a></li>
				<li><a id="nav-search" href="#" class="fa fa-search"></a></li>
			</ul>
		</nav>
		<!-- LARGE SCREENS MARK UP ENDS -->
				
		<!-- TABLET AND MOBILE -->
		<div id="main-nav-small" class="hide-for-large-only hidden-menu">
			<button class="fa fa-bars fa-2x global-btn"></button>
				<nav class="mobile-menu">
					<ul>
						<li><a href="#">Categories</a></li>
						<li><a href="#">Designers</a></li>
						<li><a href="#">Clothing</a></li>
						<li><a href="#">Footwear</a></li>
						<li><a href="#">Accessories</a></li>
						<li><a href="#">Art</a></li>
						<li><a href="#">Lifestyle</a></li>
					</ul>
				</nav>

			  <nav class="nav-icons-container">
				<ul class="icon-btns nav-icons">
					<li><a id="pro-avatar" class="fa fa-user"></a></li>
					<li><a id="nav-add" class="fa fa-plus"></a></li>
					<li><a id="nav-note" class="fa fa-bell-o"></a></li>
					<li><a id="nav-search" href="#" class="fa fa-search"></a></li>
				</ul>
			</nav>
		</div>
		<!-- TABLET AND MOBILE ENDS HERE -->
	</div> <!-- ROW ENDS HERE -->