	<div class="row">
		<nav class="columns large-8">
			
			<!-- LARGE SCREENS MARK UP -->
			<ul class="show-for-large-only">
				<li><a href="#">Categories</a></li>
				<li><a href="#">Designers</a></li>
				<li><a href="#">Clothing</a></li>
				<li><a href="#">Footwear</a></li>
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Art</a></li>
				<li><a href="#">Lifestyle</a></li>
			</ul>
			<!-- LARGE SCREENS MARK UP ENDS -->
			
			<!-- TABLET AND MOBILE -->
			<div class="hide-for-large-only">
				<button class="fa fa-bars fa-2x global-btn"></button>
			</div>
			<!-- TABLET AND MOBILE ENDS HERE -->
		</nav>
	</div>