	<div class="row row-full">
		<nav class="">
			<!-- LARGE SCREENS MARK UP -->
			<ul class="columns large-8 show-for-large-only">
				<li><a href="#">Categories</a></li>
				<li><a href="#">Designers</a></li>
				<li><a href="#">Clothing</a></li>
				<li><a href="#">Footwear</a></li>
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Art</a></li>
				<li><a href="#">Lifestyle</a></li>
			</ul>
			<!-- LARGE SCREENS MARK UP ENDS -->
			
			<!-- TABLET AND MOBILE -->
			<div class="hide-for-large-only hamburger">
				<button class="fa fa-bars fa-2x global-btn"></button>
			</div>
			<!-- TABLET AND MOBILE ENDS HERE -->
		</nav>

		<nav class="columns large-3 small-6 pull-right">
			<ul class="icon-btns nav-icons">
				<li><a id="pro-avatar" class="fa fa-user"></a></li>
				<li><a id="nav-add" class="fa fa-plus"></a></li>
				<li><a id="nav-note" class="fa fa-bell-o"></a></li>
				<li><a id="nav-search" href="#" class="fa fa-search"></a></li>
			</ul>
		</nav>

	</div>