
#main-nav {//
		
	.main-nav-inner {
		background-color: $palatteBlack;
		display: inline-block;
		width: 100%;
		position: absolute;
		left: 0;
		//position: fixed;
	}

	nav {
		padding: 0;
		ul {
			margin: 0;
			padding: 0;
		}

		ul li {
			display: inline-block;
			list-style: none;
		}

		ul li a {
			font-size: 0.8em;
			padding: 1em;
			display: block;
			color: $palatteGrey;
			transition: all 0.3s ease-in;


			&:hover {
				color: $palatteWhite;
			}
		}
	}

	.nav-icons {
		float: right;
	}

	// HIDDEN MOBILE MENU 

	#main-nav-small {
	
		.mobile-menu {
			position: absolute;
			background-color: $palatteDarkerGrey;
			top: 0em;
			bottom: 0;
			width: 29%;
			min-width: 280px;

			ul li {
				display: block;
				border-bottom: 1px solid #666;
			}
		}

		.nav-icons-container {
			position: absolute;
			bottom: 0em;
			width: 100%;
			max-width: 280px;
		}

		.nav-icons {
			width: 100%;
			padding: 0 1em;

			li {
				padding-bottom: 1em;
			}
	
			li a {
				float: left;
				display: inline;
				padding-bottom: 0 !important;
				padding-left: 1.8em !important;
				padding-right: 1.8em !important;
			}
		}

	} // MAIN NAV SMALL ENDS HERE / HIDDEN MENU

}