// breakpoints
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1280px)";
$breakpoint-small-min-max: "only screen and (min-width:320px) and (max-width: 767px)";
$breakpoint-medium-min-max: "only screen and (min-width: 768px) and (max-width: 1279px)";
