// breakpoints
$breakpoint-medium: "only screen and (min-width: 786px)";
$breakpoint-large: "only screen and (min-width: 1280px)";
$breakpoint-small-min-max: "only screen and (min-width:320px) and (max-width: 785px)";
$breakpoint-medium-min-max: "only screen and (min-width: 786px) and (max-width: 1279px)";
