.Store-Widget {
	max-width: 440px;
	width: 100%;
	padding: 0.5em;
	margin-left: 0;
	overflow: hidden;

	& .widget-img {
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 100%;
		min-height: 230px;
		min-width: 161px;
		float: left;
		div {
			background-color: $palatteDarkerGrey;
			width: 40px;
			height: 40px;
			margin: 80px auto;
			text-align: center;
			padding: 0.7em 0;
			color: $palatteWhite;
		}
	}
	
	.widget-content {
		padding: 1em;
		color: $palatteBlack;
		a {
			color: $palatteLightBlue;
			font-size: 0.9em;
			i {
				padding-right: 0.5em;
				float: left;
				margin-top: 0.2em;
			}
		}

		h2 {
			text-transform: uppercase;
			font-size: 2em;
			margin-top: 0.1em;
			margin-bottom: 0.5em;
		}

		p {
			font-size: 0.9em;
			color: $palatteGrey;
			margin-bottom: 2em;
		}

		& .widget-count {
			color: $palatteGrey;
			transition: all 2s ease-in-out;
			a {
				font-size: 1em;
				color: $palatteGrey;
				&:hover {
					text-decoration: none;
				}
			}

			i {
				float: none;
				padding-right: 0;
				margin-top: 0;
			}
		}

		& .widget-link {
			color: $palatteDarkerGrey;
			float: right;
			font-size: 1em;
			&:hover {
				text-decoration: none;
			}

			i {
				padding-left: 0.5em;
			}
		}


	}
}