.Store-Widget {
	max-width: 768px;
	width: 100%;
	padding: 0.5em;
	margin: 0.5em;
	overflow: hidden;
	box-shadow: 3px 3px 3px rgba(151, 151, 151, 0.67);
	font-family: 'PT Sans Narrow', sans-serif;

	& .widget-img {
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		width: 100%;
		height: 100%;
		min-height: 235px;
<<<<<<< HEAD
		max-width: 161px;
=======
		min-width: 161px;
>>>>>>> b974bc5484d87e16703718bde44feee49dbfca15
		float: left;
		div {
			background-color: $palatteDarkerGrey;
			width: 50px;
			height: 50px;
			margin: 80px auto;
			text-align: center;
			padding: 0.9em 0;
			color: $palatteWhite;
		}
	}
	
	.widget-content {
		padding: 1em;
		color: $palatteBlack;
		a {
			color: $palatteLightBlue;
			font-size: 1em;
			i {
				padding-right: 0.5em;
				float: left;
				margin-top: 0.2em;
			}
		}

		h2 {
			text-transform: uppercase;
			font-size: 2em;
			font-weight: 700;
			margin-top: 0.1em;
			margin-bottom: 0.5em;
		}

		p {
			font-size: 1em;
			color: $palatteGrey;
			margin-bottom: 1em;
		}

		

		& .widget-product-count {
			color: $palatteGrey;
			transition: all 2s ease-in-out;
			a {
				font-size: 0.9em;
				color: $palatteGrey;
				&:hover {
					text-decoration: none;
					color: $palatteDarkerGrey;
				}
			}
			i {
				float: none;
				margin-top: 0;
			}
		}

		& .widget-link {
			color: $palatteDarkerGrey;
<<<<<<< HEAD
			display: inline-block;
			font-size: 1em;
=======
			float: right;
			font-size: 0.9em;
			padding-right: 0.5em;
>>>>>>> b974bc5484d87e16703718bde44feee49dbfca15
			&:hover {
				text-decoration: none;
				color: $palatteLightBlue;
			}
			i {
				padding-left: 0.5em;
			}
		}

	}

	@media #{$breakpoint-medium} {
		max-width: 440px;

		& .widget-img { 
			min-width: 161px;
			max-width: 100%;
		}
		
		.widget-content {
			& .widget-link {
				bottom: 1.2em;
			}
		}
	}
}
