<section class="Store-Widget container">
	<article class="row">
			<div class="col-sm-3 col-md-3">
				<figure class="widget-img" style="background-image: url('http://placehold.it/161x230')">
					<div>M</div>
				</figure>
			</div>
	
			<div class="col-xs-12 col-sm-7 col-sm-push-2 widget-content">
				<a href="#"><i class="fa fa-mars"></i>Men Clothing</a>
					<h2>Knitwear</h2>
						<p>Cras efficitur iaculis sapien, vel tincidunt magna egestas at. Nunc finibus, metus id fermentum. Cras efficitur iaculis sapien, vel tincidunt magna egestas at, vel tincidunt magna egestas at cras effcitur i...</p>
						<span class="widget-count">
							<i class="fa fa-tags"></i>
							<a href="#">216 Products</a>
						</span>
						<a class="widget-link" href="#">See Collection<i class="fa fa-long-arrow-right"></i></a>
				</div>
		
	</article>
</section>