/*
Error: Invalid CSS after "		max-width: 161px": expected "{", was ";"
        on line 18 of app/styles/sass/_widgets.scss
        from line 10 of app/styles/sass/main.scss

13: 		background-position: center;
14: 		width: 100%;
15: 		height: 100%;
16: 		min-height: 235px;
17: <<<<<<< HEAD
18: 		max-width: 161px;
19: =======
20: 		min-width: 161px;
21: >>>>>>> b974bc5484d87e16703718bde44feee49dbfca15
22: 		float: left;
23: 		div {

Backtrace:
app/styles/sass/_widgets.scss:18
app/styles/sass/main.scss:10
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:654:in `block'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:663:in `block_contents'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:309:in `to_tree'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `block in with_import'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:88:in `with_import'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:414:in `run'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/natesmith/.rvm/rubies/ruby-2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/Users/natesmith/.rvm/gems/ruby-2.2.3/bin/sass:23:in `load'
/Users/natesmith/.rvm/gems/ruby-2.2.3/bin/sass:23:in `<main>'
/Users/natesmith/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `eval'
/Users/natesmith/.rvm/gems/ruby-2.2.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		max-width: 161px\": expected \"{\", was \";\"\A         on line 18 of app/styles/sass/_widgets.scss\A         from line 10 of app/styles/sass/main.scss\A \A 13: 		background-position: center;\A 14: 		width: 100%;\A 15: 		height: 100%;\A 16: 		min-height: 235px;\A 17: <<<<<<< HEAD\A 18: 		max-width: 161px;\A 19: =======\A 20: 		min-width: 161px;\A 21: >>>>>>> b974bc5484d87e16703718bde44feee49dbfca15\A 22: 		float: left;\A 23: 		div {"; }
